* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-image: url('/Images/playa.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.main-header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}

.search-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo {
    padding: 4px;
    background-color: red;
}

.main-container {
    height: 94svh;
}

